
GIF89;
<title>hacked by Hmei7</title>
<script>var g=35,f=new Array("#AAAACC","#DDDDFF","#CCCCDD","#F3F3F3","#F0FFFF"),e=new Array("Arial Black","Arial Narrow","Times","Comic Sans MS"),d="*",m=0.6,a=22,b=8,c=1,j=new Array(),k,l,x,n=new Array(),o=new Array(),p=new Array(),q=navigator.userAgent,r=document.all&&document.getElementById&&!q.match(/Opera/),s=document.getElementById&&!document.all,u=q.match(/Opera/),t=r||s||u;function y(z){return Math.floor(z*Math.random())}function v(){if(r||u){k=document.body.clientHeight;l=document.body.clientWidth;}else if(s){k=window.innerHeight;l=window.innerWidth;}var h=a-b;for(i=0;i<=g;i++){o[i]=0;p[i]=Math.random()*15;n[i]=0.03+Math.random()/10;j[i]=document.getElementById("s"+i);j[i].style.fontFamily=e[y(e.length)];j[i].size=y(h)+b;j[i].style.fontSize=j[i].size;j[i].style.color=f[y(f.length)];j[i].sink=m*j[i].size/5;if(c==1){j[i].posx=y(l-j[i].size)}if(c==2){j[i].posx=y(l/2-j[i].size)}if(c==3){j[i].posx=y(l/2-j[i].size)+l/4};if(c==4){j[i].posx=y(l/2-j[i].size)+l/2}j[i].posy=y(2*k-k-2*j[i].size);j[i].style.left=j[i].posx;j[i].style.top=j[i].posy}w()}function w(){for(i=0;i<=g;i++){o[i]+=n[i];j[i].posy+=j[i].sink;j[i].style.left=j[i].posx+p[i]*Math.sin(o[i]);j[i].style.top=j[i].posy;if(j[i].posy>=k-2*j[i].size||parseInt(j[i].style.left)>(l-3*p[i])){if(c==1){j[i].posx=y(l-j[i].size)}if(c==2){j[i].posx=y(l/2-j[i].size)}if(c==3){j[i].posx=y(l/2-j[i].size)+l/4}if(c==4){j[i].posx=y(l/2-j[i].size)+l/2}j[i].posy=0}}var x=setTimeout("w()",50)}for(i=0;i<=g;i++){document.write("<span id='s"+i+"' style='position:absolute;top:-"+a+"'>"+d+"</span>")}if(t){window.onload=v}</script>
<center><div id=q>hacked by Hmei7
<style>body{overflow:hidden;background-color:black}#q{font:40px impact;color:white;position:absolute;left:0;right:0;top:46%}
